
#content {
    max-width:1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
}
#hero-msg {
    text-align: center;
}
h1 {
    text-align: center;
}

h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:blanchedalmond;
}

body {
    background-color: #A4C3B2;

}
header {
    background-color:#6b9080;
}
nav a:hover {
    background-color: black;
}
.book {
color:blue;
text-decoration: none;
background-color:blanchedalmond;
}
.join {
color:blue;
text-decoration: none;
background-color:blanchedalmond;
}
.book:hover {
color:yellow;
background-color: black;
}
.join:hover {
color:yellow;
background-color:black;
}
.msg {
color:white;
background-color:#6b9080;

}
footer {
background-color: #6b9080 ;        
}
.icon {
    width:80px;
}
.logo{
    width:80px;
}
#hero-img {
    width:100%;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration:underline;
}